.navbar-inverse{
  background-color:rgb(39, 176, 221);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-{
  background-color:cornflowerblue;
}
.navbar-inverse .navbar-nav>li>a{
  color:white;
}
.navbar-inverse .navbar-brand{
  color:white;
}
.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:hotpink;
}